*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-color: rgb(10, 10, 10);
}
.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock{
    position: relative;
    height: 500px;
    width: 500px;
    background: rgb(20, 20, 17);
    border-radius: 50%;
    box-shadow: 10px 20px 75px black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock::before{
    content: " ";
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
    border: 2px solid rgb(6, 6, 5);
}
.clock span{
position: absolute;
inset: 20px;
color: #f3eded;
text-align: center;
transform: rotate(calc(30deg*var(--i)));
}
.clock span b{
    font-size: 2em;

    font-weight: 500;
    display: inline-block;
    transform: rotate(calc(-30deg*var(--i))); 
}
.circle{
    position: absolute;
    height: 350px;
    width: 350px;
    border: 2px solid rgb(29, 28, 28);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.circle2{
    width: 300px;
    height: 300px;
}
.circle3{
    width: 220px;
    height: 220px;
}
.circle i{
    position: absolute;
    width: 3px;
    height: 50%;
    background:var(--clr);
    transform-origin: bottom;
    transform: scale(0.60);
}
.circle:nth-child(3) i{
    width: 6px;
}
.circle:nth-child(2) i{
    width: 7px;
}
.circle::before{
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    top: -9px;
    background:var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),0 0 50px var(--clr);

}